<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/auth.css">
     
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <a href="http://localhost:3000/reset/<%= token %>">click this</a>
      
    </main>
    <%- include('../includes/end.ejs') %>
