<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>

    <main>
      <% if (prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article class="card product-item">
          <header class="card-header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img
              src="https://assets-prd.ignimgs.com/2021/02/22/legend-of-mana-button-fin-1614037285244.jpg"
              alt="book of mana"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">100k</h2>
            <p class="product__description">A very legendary book</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to chart</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>Product not found!</h1>
      <% } %>
    </main>
    <%- include('includes/end.ejs') %>
